
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 10, 9, 13;
  --background-end-rgb: 10, 9, 13;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  font-family: 'Be Vietnam Pro', sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #0a090d;
}

::-webkit-scrollbar-thumb {
  background: #2e2839;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5b13ec;
}
